@page "/queues"
@using TransitPulse.Web.Services
@using TransitPulse.Web.Models
@attribute [StreamRendering]
@inject IServiceBusService ServiceBusService

<PageTitle>Queues</PageTitle>

<h1>Queues</h1>

@if (queues == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentDataGrid Items="@queues">
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
        <PropertyColumn Property="@(p => p.ActiveCount)" Sortable="true" />
        <PropertyColumn Property="@(p => p.TotalCount)" Sortable="true" />
    </FluentDataGrid>
}

@code {
    private IQueryable<QueueState>? queues;

    protected override async Task OnInitializedAsync()
    {
        await GetQueues();
    }

    private async Task GetQueues()
    {
        queues = (await ServiceBusService.GetQueues()).AsQueryable();
    }
}
